*, *::after, *::before {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

:root {
  /* colors */
  --pink-light: #C59DD2;
  --pink-base: #9547A5;
  --pink-dark: #7D298A;
  --pink-low: #3F0F41;

  --blue-light: #73B6D2;
  --blue-base: #358BB9;
  --blue-mid: #2374A4;
  --blue-dark: #144A72;
  --blue-low: #08233C;

  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000F1F;
  --shape-bg: #00050A;

  --text-title: #F8FBFB;
  --text-body: #E2E7E9;
  --text-label: #BAC6C9;

  /* font */
  --fs-tt-md: 2.5rem;
  --fs--boyd-lg: 1.25rem;
  --fs--body-sm: .875rem;
  --fs--body-xs: 0.75rem; 
  --fs-tag: .625rem;

  /* line height */
  --lh-sub: 200%;
  --lh-body: 140%;

}

body, html {
  background-color: var(--shape-bg);
  color: var(--text-body);
  font-family: 'raleway', sans-serif;
  line-height: auto;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 14px;
  max-width: 100%;
  z-index: -1;
  
  @media (width >= 80em) {
    font-size: 16px;
  }
}

.container {
  max-width: calc(100% - 10%);
  margin-inline: auto;
  
  @media (width >= 80em) {
    max-width: calc(100% - 15rem);
  }
}


h1, h2, h3 {
  color: var(--text-title);
}

h1 {
  font-size: 1.75rem;

  @media (width >= 80em) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.5rem;

  @media (width >= 80em) {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1rem;

  @media (width >= 80em) {
    font-size: 1.5rem;
  }
}

a {
  text-decoration: none;
  color: var(--text-title);
}

ul[role="list"] {
  list-style: none;
}