.pricing {
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-inline: auto;
    font: 700 1.5rem/100% 'raleway', sans-serif;
    max-width: calc(100% - 77px);
    padding-top: 6.5rem;
  }

  & .card-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: scroll;
    text-align: center;
    gap: 1.5rem;
    margin-top: 3rem;
    flex-shrink: 0;
    width: 100%;
    height: 100%;

    &::-webkit-scrollbar {
      display: none;
    }
    
    & .card {
      background-color: var(--shape-base);
      width: 272px;
      height: 27rem;
      border-radius: 1.5rem;
      padding: 2rem;
      border: 3px solid var(--blue-light);
      flex-shrink: 0;

      & .main {
        text-align: left;
        
        & h3 {
          color: var(--blue-light);
        }

        & h1 {
          font-size: 2.3rem;
          margin-block: 1.5rem .5rem;
        }
        & span {
          font: 700 16px/140% 'raleway', sans-serif;
          color: var(--text-title);
        }

        & p {
          text-align: left;
          font-weight: 700;
        }
      }

      & .card-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin-inline: auto;
        gap: .75rem;

        & ul {
          display: flex;
          flex-direction: column;
          margin-top: 7.4rem;
          list-style: none;
          width: 100%;
  
          & li {
            display: flex;
            font: 400 10px/140% 'raleway', sans-serif;
            align-items: center;
            margin-left: 0.5rem;
            img {
              width: 1.8rem;
              margin-right: .25rem;
            }
          }
        }
  
        & #p-card {
          background-color: var(--blue-dark);
          border-radius: 8px;
          width: 100%;
          height: 40px;
          padding-block: .75rem;
          justify-content: center;
        }
      }
    }

    & .card:nth-child(2) {
      border: 3px solid var(--pink-light);

      & .header-card {
        padding-top: 0;
        text-align: left;
        justify-content: space-between;
        gap: 6rem;
        margin-inline: unset;

        h3 {
          color: var(--pink-light);
          justify-content: left;
          text-align: left;
        }

        p{
          font: 400 10px/140% 'raleway', sans-serif;
          color: var(--text-title);
          background-color: var(--shape-hover);
          padding: 0.5rem 0.75rem;
          border-radius: 16px;
        }
      }

      & .card-info {
        & ul {
          margin-top: 4.7rem;
          color: var(--text-title);
        }

        & #p-card {
          color: var(--text-title);
          background-color: var(--pink-dark);
        }
      }
    }

    & .card:nth-child(3) {
       & ul{
        margin-top: 3.8rem;
       }
    }
  }
}

@media (width >= 80em) {
  .pricing {
    height: 65rem;
    margin-top: 15rem;
    background-image: url(../assets/pricing-background.png);
    background-size: cover;
    z-index: 1;

    & header {
      z-index: 1;
    }

    
    .card-wrapper{
      position: relative;
      height: 50rem;
      width: 100vw;
      display: flex;
      overflow: visible;
      margin-left: calc(-50vw + 50%);

      &::before {
        content: '';
        position: absolute;
        width: 30rem;
        height: 30rem;
        top: 4rem;
        left: 50%;
        transform: translate(-50%);
        filter: blur(120px);
        background-color: var(--shape-base);
        z-index: 0;
      }

      .card {
        position: absolute;
        width: 300px;
        height: 28rem;
        top: 6rem;
        left: 50%;
        transform: translate(-50%);
        z-index: 1;
        padding: 1.75rem;
        border-radius: 30px;
        border: unset;
        transition: all 600ms ease;

        & #star-card {
          position: absolute;
          width: 2.25rem;
          top: 0.4rem;
          left: 50%;
          transform: rotate(8deg);
          transition: transform 600ms ease, top 900ms ease;
        }
        & #star-card-2 {
          position: absolute;
          width: .875rem;
          left: 10%;
          transform: rotate(8deg);
          transition: transform 600ms ease;
        }
        
        & .header-card {
          padding: unset;

          & h3 {
            font-size: 1rem;
          }
        }

        & .card-info {
          & ul {
            margin-top: 6.4rem;
          }

          & #p-card {
            padding-block: .5rem;
          }
        }
      }

      .card:nth-child(2) {
        border: unset;
        position: absolute;
        width: 300px;
        height: 28rem;
        top: 6rem;
        left: 50%;
        transform: translate(-50%);
        z-index: 2;
        background-color: var(--shape-hover);

        & #bunny {
          position: absolute;
          width: 3rem;
          top: -3.35rem;
          left: 50%;
          transform: translate(-175%);
          z-index: 1;
        }

        & .header-card {
          gap: 4.5rem;

          & h3 {
            font-size: 1rem;
          }
          & p {
            font-weight: 700;
            padding: 0.5rem 1.25rem;
            background-color: var(--shape-stroke);
          }
        }

        & .card-info {
          & ul {
            margin-top: 5.32rem;
          }

          & #p-card {
            padding-block: .5rem;
          }
        }
      }

      .card:nth-child(3) {
        position: absolute;
        width: 300px;
        height: 28rem;
        top: 6rem;
        left: 50%;
        transform: translate(-50%);
        z-index: 1;
        padding: 1.75rem;

        & #star-card-3 {
          position: absolute;
          width: 1.5rem;
          top: 24.4rem;
          left: 80%;
          transform: rotate(8deg);
          transition: transform 600ms ease, top 900ms ease;
        }
        & #star-card-4 {
          position: absolute;
          width: .8rem;
          top: 26.4rem;
          left: 70%;
          transform: rotate(8deg);
          transition: transform 600ms ease, top 900ms ease;
        }

        & .header-card {
          padding: unset;
        }

        & .card-info {
          & ul {
            margin-top: 3.2rem;
          }

          & #p-card {
            padding-block: .5rem;
          }
        }
      }
    }

    &:hover {
      .card-wrapper {
        
        .card:nth-child(1) {
          transform: translate(-150%) rotate(-7deg);
          top: 10rem;

          &:hover {
            z-index: 3;
            top: 9.6rem;
            scale: 1.01;
            padding-block: 1.45rem 2rem;
            box-shadow: -1px 1px 25px var(--blue-light), 0 6px 20px rgba(0, 0, 0, 0.1);
            background-color: var(--shape-hover);

            #star-card {
              top: -2.5rem;
              transform: translate(-525%) rotate(-11deg);
            }

            #star-card-2 {
              top: 1rem;
              transform: translate(-525%) rotate(13deg);
            }
          }

          #star-card {
            top: -2.5rem;
            transform: translate(-525%);
          }

          #star-card-2 {
            top: 1rem;
            transform: translate(-525%);
          }
        }

        .card:nth-child(2) {
          &:hover {
            z-index: 3;
            background-color: var(--shape-hover);
            top: 5.2rem;
            scale: 1.01;
            padding-block: 1.42rem 2rem;
            box-shadow: -1px 1px 25px var(--pink-base), 0 6px 20px rgba(0, 0, 0, 0.1);
          }

          &:not(:hover) {
            background-color: var(--shape-base);
          }
        }

        .card:nth-child(3) {
          transform: translate(49%) rotate(6deg);
          top: 9.5rem;

          & #star-card-3 {
            top: 28rem;
            transform: translate(360%);
          }
          & #star-card-4 {
            top: 29.8rem;
            transform: translate(450%);
          }

          &:hover {
            z-index: 3;
            top: 9.4rem;
            scale: 1.01;
            padding-block: 1.38rem 2rem;
            box-shadow: -1px 1px 25px var(--blue-light), 0 6px 20px rgba(0, 0, 0, 0.1);
             background-color: var(--shape-hover);

            #star-card-3 {
              transform: translate(360%) rotate(-13deg);
            }
            #star-card-4 {
              transform: translate(450%) rotate(16deg);
            }
          }
        }
      }
    }
  }
}