.text-appear {
  position: relative;
  display: flex;
  margin-top: 2rem;
  
  @media (width >= 80em) {
    height: 25rem;
    margin-block: 5rem 5rem;  

    &:hover {
      & img {
        opacity: 1;
        transform: scale(1); 
  
        &[src*="spellbook"] {
          transition-delay: 0.1s;
          &:hover {
            transform: rotate(10deg);
          }
        }
        &[src*="planchette"] {
          transition-delay: 1s;
          &:hover {
            transform: rotate(10deg);
            transition-delay: 0.2s;
          }
        }
        &[src*="crys"] {
          transition-delay: 1.9s;
          &:hover {
            transform: rotate(-10deg);
            transition-delay: 0.2s;
          }
        }
      }
  
      & > div span {
        opacity: 1;
  
        &:nth-child(1) {
          transition-delay: 0s;
  
          & strong {
            transition-delay: 0s;
          }
        }
        &:nth-child(2) {
          transition-delay: 0.9s;
  
          & strong {
            transition-delay: 0.9s;
          }
        }
        &:nth-child(3) {
          transition-delay: 1.8s;
  
          & strong {
            transition-delay: 1.8s;
          }
        }
  
      }
  
      & > div strong {
        color: var(--blue-base);
      }
    }
  
    &:not(:hover) {
      & img {
        opacity: 0;
        transform: scale(0);
      }
  
      & > div span {
        opacity: 0.4;
      }
  
      & > div strong {
        color: var(--text-label);
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 380px;
    height: 350px;
    border-radius: 50%;
    right: -20rem;
    bottom: 16rem;
    filter: blur(200px);
    background-color: var(--pink-low);
  }

  &::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 30%;
    left: 20%;
    transform: translate(-20%);
    bottom: 5rem;
    filter: blur(150px);
    background-color: var(--pink-low);
  }

  & img {
    position: absolute;
    display: flex;

    &[src*="crys"] {
      width: 2.5rem;
      bottom: 3rem;
      right: 1rem;
      rotate: 15deg;
    }
    &[src*="spellbook"] {
      width: 2.5rem;
      top: 2.6rem;
      right: 3.5rem;
      rotate: 20deg;
    }
    &[src*="planchette"] {
      width: 2rem;
      bottom: 3.3rem;
      left: 2rem;
      rotate: -50deg;
    }

    @media (width >= 80em) {
      opacity: 0;
      transform: scale(0); 
      transition: opacity 1s ease, transform 1s ease;

      &[src*="crys"] {
        width: 5rem;
        bottom: 4.7rem;
        right: 1.9rem;
        rotate: -14deg;
      }

      &[src*="spellbook"] {
        width: 5rem;
        top: 1rem;
        right: 48%;
        rotate: 20deg;
      }

      &[src*="planchette"] {
        width: 5rem;
        bottom: 4rem;
        left: 5rem;
        rotate: 99deg;
      }
    }

  }

  & > div {
    padding: 5.875rem 1.25rem;
    text-align: center;
    margin-inline: auto;
    display: block;
    width: 100%;

    @media (width >= 80em) {
      padding: 7.125rem 2rem 0rem;
    }

    span {
      font-size: 1rem;
      font-weight: 400;
      line-height: 200%;
      transition: opacity 1s ease;
      
      @media (width >= 80em) {
        font-size: 2rem;
        opacity: 0.4;
      }
    }

    strong {
      line-height: 200%;
      font-weight: 500;
      color: var(--text-body);
      @media (width >= 80em) {
        font-weight: 700;
        transition: color 1s ease;
      }
    }
  }
}


@keyframes scale {
  100% {
    scale: 1;
  }
}

@keyframes opacity {
  100% {
    opacity: 1;
  }
}

